.foot_box1.foot_box2
    .live.marginBot
        .live_box
            img.live_img.fl(src="images/pd_shipin_20180629_05.png")
            .live_span.fl 动态
        .live_p Latest News
    .box2_text
        a(href="#" target="_Blank")
            img.box2_img.fl(src="images/noneed01.jpg" alt="社会主义文化建设开创新局面")
        .span_box
            a(href="#" target="_Blank")
                span.box2_span.fl 社会主义文化建设开创新局面
    .box2_text
        a(href="#" target="_Blank")
            img.box2_img.fl(src="images/noneed01.jpg" alt="社会主义文化建设开创新局面")
        .span_box
            a(href="#" target="_Blank")
                span.box2_span.fl 社会主义文化建设开创新局面
    .box2_text.clear_border
        a(href="#" target="_Blank")
            img.box2_img.fl(src="images/noneed01.jpg" alt="社会主义文化建设开创新局面")
        .span_box
            a(href="#" target="_Blank")
                span.box2_span.fl 社会主义文化建设开创新局面