.foot_box1
    .live
        .live_box
            img.live_img.fl(src="images/pd_shipin_20180629_04.png")
            .live_span.fl 直播
        .live_p Live broadcast
    .pic_3
        a(href="#" target="_Blank")
            img(src="images/noneed01.jpg" alt="为官“三心”不可缺")
            span.text 为官“三心”不可缺
            .bg_shadow
    p.right_text 我们应该如何看待实体经济？有应该弘扬什么样的体育家精神？中国建材集团有限公司党委书记董事长宋志平与我们共同分享他的体会。