.foot_left
    .tittle
        .tittle_text
            .tittle_box.fl
                span.tittle_span.tittle_span_1 推荐
                    .border_top
            .tittle_box.fl
                span.tittle_span.tittle_span_1 访谈
            .tittle_box.fl
                span.tittle_span.tittle_span_1 记实
            .tittle_box.fl
                span.tittle_span.tittle_span_1 动漫
            .tittle_box.fl
                span.tittle_span.tittle_span_1 微视频
        .tittle_pic
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")
            .pic_image
                a.fl(href="#" target="_Blank")
                    img.image1.fl(src="images/noneed01.jpg" alt="全面深化改革还有哪些硬骨头")
                span.img_span 全面深化改革还有哪些硬骨头
                p.img_p 如何将新时代的劳动价值阐释出来，劳动者的生活、文化能否成为引领社会的主流文化之一，能否为社会的价值体系提供一种新的价值观，乃至社会的主流文化之一
                .img_share
                    a(href="#") 分享
                        img(src="images/share.png")