.go
    input(type="text" class="search fl" placeholder="  请键入搜索词")
    a(href="http://search.qstheory.cn/qiushi/search-index.html" target="_Blank")
        img(src="images/sousuo.jpg" class="search_pic fl")