.logo
    a(href="http://www.qstheory.cn/" class="fl" target="_Blank")
        img.logo_img(src="images/pd_shipin_20180628_01.png")
    a(href="#" class="fl"  target="_Blank")
        img.logo_img1(src="images/pd_shipin_20180628_02.png")