.swiper-container.pic.fl
    .swiper-wrapper
        .swiper-slide
            a(href="#" target="_Blank")
                img(src="images/noneed02.jpg" alt="为官“三心”不可缺(1)")
                span.text 为官“三心”不可缺(1)
                .bg_shadow
        .swiper-slide
            a(href="#" target="_Blank")
                img(src="images/noneed02.jpg" alt="为官“三心”不可缺(1)")
                span.text 为官“三心”不可缺(2)
                .bg_shadow
        .swiper-slide
            a(href="#" target="_Blank")
                img(src="images/noneed02.jpg" alt="为官“三心”不可缺(1)")
                span.text 为官“三心”不可缺(3)
                .bg_shadow
    .swiper-pagination.sw_btn
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white