.series
    .search_logo
        a(href="#" target="_Blank")
            img.search_img(src="images/pd_shipin_20180628_03.png")
    .line_1
    .show
        .swiper-container.show_box
            .swiper-wrapper
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
                .swiper-slide
                    .box_1.fl
                        a(href="#" target="_Blank")
                            img.box_img(src="images/noneed01.jpg" alt="改革开放推动中国引时代发展")
                            span.box_span 改革开放推动中国引时代发展
                        p.box_p 40年的改革开放，中国逐步从追赶时代的“后进者”转变为引领时代的“先行者”
            .swiper-button-prev.sw_left
            .swiper-button-next.sw_right