* {
  margin: 0;
  padding: 0;
}
div,form,img,ul,ol,li,dl,dt,dd,p {
  margin: 0;
  padding: 0;
  list-style:none;
  border: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  font-size:12px;
  padding:0;
}
body {
  background: #f2f2e8;
}
img {
  cursor: pointer;
}
.fl {
  float: left;
}
a {
  color: black;
}